
/* AboutMe.css */
.about {
  background: #121212;
  color: #e0e0e0;
  padding: 100px 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  animation: fadeIn 1s ease-in-out;
}

.about-header {
  text-align: center;
  position: relative;
}

.about-header h1 {
  font-size: 50px;
  font-weight: 600;
  background: linear-gradient(264deg, #ff9e2c, #ad38ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.about-header h1:hover {
  transform: scale(1.1);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.about-left .profile-img {
  width: 280px;
  border-radius: 10%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #ff9e2c;
}

.about-left .profile-img:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.9);
}

.about-right {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-description p {
  font-size: 18px;
  line-height: 1.5;
  color: #cfcfcf;
  text-align: justify;
  animation: slideUp 0.8s ease-in-out;
}
.personal-info{
  margin-top: 40px;

}

.personal-info ul {
  margin-top: 10px;

  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.personal-info li {
  font-size: 18px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.personal-info li:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.personal-info li strong {
  color: #ff9e2c;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .personal-info ul {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
